* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Karla', sans-serif; */
  font-weight: 400;
  color: #293264;
  /* line-height: 1.25; */
}

/**********
 Typography
**********/

h1{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

button{
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

h3{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

/**********
  Layout
**********/

.App{
  width: 90%;
  margin: 0 auto;
}

/* Start page */

.start--div{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.start--btn{
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-size: 1rem;
  line-height: 1.25;
  padding: 1em 3.75em;
  border: none;
  border-radius: 15px;
  margin-top: 1em;
}

.start--form{
  display: flex;
  flex-direction: column;
  max-width: 12em;
  min-width: 12em;
}

.start--form select{
  padding: 0.2em 0.1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* QuizList page */

.quiz--list{
  /* border: 2px solid; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

.quiz--list--modifier{
  justify-content: center;
}

.quiz--info{
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.quiz--info > h5{
  font-weight: 700;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.quiz--check--btn{
  color: #F5F7FB;
  background-color: #4D5B9E;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1.25;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  /* margin-top: 2em; */
}

/* Quiz page */

.quiz{
  border-bottom: 0.79px solid #DBDEF0;
}

.quiz--options{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 0.8125em;
  /* gap: 13px; */
  margin-bottom: 1em;
}

.quiz--options > button{
  border: 0.794239px solid #4D5B9E;
  border-radius: 8px;
  font-size: 0.625rem;
  line-height: 1.25;
  padding: 0.5em 2em;
  color: inherit;
}

.answer-btn-selected{
  background: #D6DBF5;
}

.answer-btn{
  background: #F5F7FB;
}

.answer-correct{
  background: #94D7A2;
}

.answer-incorrect{
  background: #F8BCBC;
}

.loader--container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

